@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  ---foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.backImg {
  background-image: url('http://localhost:3000/images/book.png');
  background-repeat: no-repeat;
  background-position: top center;
}

.text-width {
  width: 800px;
}